.banner {
    position: absolute;
    height: 560px;
    width: 1110px;

    &__img {
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        background: url("../img/bg.png");
    }
}
