.banner {
    position: relative;
    height: 560px;
    left: 0px;
    right: 0px;
    top: 0px;
    &__img {
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        background: url("../img/bg.png");
    }

    &__title {
        position: absolute;
        width: 730px;
        height: 286px;
        left: calc(50% - 730px / 2);
        top: calc(50% - 286px / 2);

        h2 {
            font-weight: 700;
            font-size: 44px;
            line-height: 56px;
            /* or 127% */

            text-align: center;
            letter-spacing: 0.2px;

            /* Light / Black */

            color: #373f41;
        }
    }
}
