.main {
    &__info {
        margin-top: 60px;
        &-heading {
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;

            text-align: center;
            letter-spacing: 0.1px;

            color: #373f41;
        }
        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;

            text-align: center;
            letter-spacing: 0.3px;
            margin-top: 24px;

            color: $grey_color;
        }
    }

    &__field {
        margin-top: 35px;
        display: flex;
        &-list {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px;
            gap: 22px;

            img {
                width: 40px;
                height: 40px;
            }

            &--headline {
                font-weight: 700;
                font-size: 18px;
                line-height: 24px;

                text-align: center;
                letter-spacing: 0.1px;

                color: $grey_color;
            }

            &--title {
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;

                text-align: center;
                letter-spacing: 0.2px;

                color: #373f41;
            }

            &--discover {
                font-weight: 700;
                font-size: 14px;
                line-height: 18px;

                display: flex;
                align-items: center;
                text-align: center;
                letter-spacing: 0.3px;

                color: $primary_color;
            }
        }
    }
}
